.selected {
    background-color: rgb(165 226 255);
}

.button-wrap {
    border: 0;
    background-color: white;
}

.card-body {
    width: 300px;
    height: 300px;
    border: 0;
}

.button-submit {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    width: 200px;
}
